[submodule ".local/share/vim-plug"]
	path = .local/share/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".local/share/dwm-status"]
	path = .local/share/dwm-status
	url = git@github.com:s1n7ax/dwm-status.git
[submodule ".local/share/vifm_devicons"]
	path = .local/share/vifm_devicons
	url = https://github.com/cirala/vifm_devicons.git
[submodule ".local/share/neep-font"]
	path = .local/share/neep-font
	url = https://github.com/nikolas/jmk-x11-fonts.git
