*
!.gitignore


#------------------------------------------------------------------------------#
#                                    CONFIG                                    #
#------------------------------------------------------------------------------#
!.config

!.config/vifm
!.config/vifm/**
.config/vifm/vifminfo.json

!.config/bspwm
!.config/bspwm/**

!.config/sxhkd
!.config/sxhkd/**

!.config/i3
!.config/i3/**

!.config/nvim
!.config/nvim/**

!.config/polybar
!.config/polybar/**

!.config/picom
!.config/picomk/**

!.config/awesome
!.config/awesome/**

!.config/picom
!.config/picom/**

!.config/mpv
!.config/mpv/**

!.config/systemd
!.config/systemd/**



#------------------------------------------------------------------------------#
#                                      DWM                                     #
#------------------------------------------------------------------------------#
!.dwm
!.dwm/**


#------------------------------------------------------------------------------#
#                                     FONTS                                    #
#------------------------------------------------------------------------------#
!.fonts
!.fonts/**
.fonts/**/*.uuid


#------------------------------------------------------------------------------#
#                                     LOCAL                                    #
#------------------------------------------------------------------------------#
!.local

!.local/bin
!.local/bin/**

!.local/share

!.local/share/vim-plug
!.local/share/dwm-status

!.local/share/s1n7ax
!.local/share/s1n7ax/*
!.local/share/s1n7ax/*/**

!.local/share/nvim
!.local/share/nvim/site
!.local/share/nvim/site/**

!.local/share/neep-font
!.local/share/neep-font/*
!.local/share/neep-font/*/**

!.local/share/vifm_devicons

#------------------------------------------------------------------------------#
#                                     OTHER                                    #
#------------------------------------------------------------------------------#
.vifm/vifminfo

#------------------------------------------------------------------------------#
#                                   DOT FILES                                  #
#------------------------------------------------------------------------------#
!.gitconfig
!.imwheelrc
!.nvidia-settings-rc
!.xinitrc
!.Xresources
!.zshrc


#------------------------------------------------------------------------------#
#                                    COMMON                                    #
#------------------------------------------------------------------------------#
*/**/__pycache__
*/**/node_modules
